body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4 {
    text-align: center;
}

/* HEADER */

header, .lower.header-content.ta-bg {   
    background-color: rgb(79, 190, 185);
}

.lower.header-content.ta-bg {
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #fff;
}

.ta-nav-set {
    height: 90px;
    background-color: rgb(39, 39, 61);
}

.navbar > .container .navbar-brand {
    padding-top: 28px;
}

 .navbar-default .navbar-nav {
    padding-top: 15px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li >a {
   font-weight: 500;
    color: #fff;  
}

.navbar-default .navbar-brand:hover,.navbar-default .navbar-nav>li>a:hover {
    color: rgb(167, 206, 245);
}

/* LOWER HEADER */

.fa-star.ta-icon {
    padding: 15px;
}

.ta-img-set {
    max-width: 200px;
    height: auto;
}

.hero {
    height: 590px; /*TEMPORARY!!! */
    background-color: rgb(20, 221, 20);
}

.about.container {
    background-color: dodgerblue;
}

.temporary-bg {
    height: 500px; /* TEMPORARY!!! */
    background-color: rgb(99, 42, 173);
}

footer {
    height: 300px; /*TEMPORARY!!! */
    background-color: rgb(4, 72, 139);
}