body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

h1,
h2,
h3 {
    font-size: 4rem;
    text-align: center;
}

a:not(#ta-link ) {
    color: #fff;
}

a:hover {
    color:  rgb(12, 223, 188);
    text-decoration: none;
}


/* UTILITIES */

.full-width.ta-bg, .full-width-white {
    width: 100%;
}

.full-width-white.ta-bg {
    background-color: white;
}

.white-text {
    color: #fff;
}

.ta-space {
    margin-top: 15px;
    padding-top: 20px;
}

.divider {
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
}

.ta-span {
    display: inline-block;
    width: 34%;
    height: 4px;  
}

.ta-span.white {
    background-color: #fff;
}

/* HEADER */

.full-width, .lower.header-content.ta-bg {   
    background-color: rgb(12, 223, 188);
    padding-bottom: 35px;
}


.lower.header-content.ta-bg {
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #fff;
}

.ta-nav-set {
    height: 90px;
    background-color: rgb(39, 39, 61);
}

.navbar.ta-nav-set {
    margin-bottom: 0;
}

.navbar > .container .navbar-brand.ta-nav-brand {
    padding-top: 28px;
}

.navbar-default .navbar-nav.ta-navbar {
    padding-top: 15px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li >a {
   font-weight: 500;
   color: #fff;  
}

.navbar-default .navbar-brand:hover,.navbar-default .navbar-nav>li>a:hover {
    color: rgb(167, 206, 245);
}

/* LOWER HEADER */

.fa-star.ta-icon {
    padding: 15px;
}

.vertical-align .ta-span {
   position: relative;
}

.ta-img-set {
    max-width: 200px;
    height: auto; 
} 


/* JUMBOTRON - previous hero */

.ta-jumbotron-title {
    padding-top: 20px;
}

.img-responsive.ta-img {
    margin-bottom: 30px;
} 

.col-sm-6.col-md-4.col-lg-4 .img-responsive.ta-img.img-rounded.last {
    padding-bottom: 80px;
}

/* ABOUT section */

.ta-about-title {
    margin-top: 50px;
}

.btn-default.ta-button {
    background-color:  rgb(12, 223, 188);
    border: 1px solid #fff;
    color: #fff;
}

.fa-download.ta-icon {
    padding: 8px;
}

.button.text-center {
    padding-top: 20px;
}

/* CONTACT section */

.ta-span.blue {
       background-color:  rgb(39, 39, 61);
       color:  rgb(39, 39, 61);
}

.ta-span.blue i {
    font-size: 40px;
}

.form-control {
    border-top: none;
    border-left: none;
    border-right: none;
}

.ta-form-group {
   width: 70%;
   border-top: none;
   border-bottom: 1px solid rgba(208, 218, 215, 0.767);
}

.form-control.ta-form-group {
    height: 140px;
}

.btn.btn-default.ta-submit {
    margin-top: 10px;
    background-color:  rgb(12, 223, 188);
    color: #fff;
}

/*FOOTER */

footer .upper-footer {
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color:#1e336b;
}

footer .lower-footer {
    background-color: rgb(39, 39, 61);
}

.col-sm-4.col-md-4.col-lg-4.text-center {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}

#ta-link .ta-footer-link a {
    color:  rgb(12, 223, 188);
}

  #ta-link .ta-footer-link  {
     color: rgb(12, 223, 188);
}

.ta-footer-icons {
    margin: auto;
    margin-top: 10px;
    padding: 12px;
    padding-right: 40px;
    font-size: 20px;    
    color: #fff;
}

.ta-footer-icons .fab.circle {
    padding: 12px;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 50%;
}

.lower-footer-text {
    position: relative;
    left: 600px;
    padding: 50px;
    color: #fff;
}